.hero {
  padding-top: 2.75rem;
  padding-bottom: 6.25rem;
  background-color: var(--clr-deep-blue);

  @media (max-width: 720px) {
    padding-top: 0.75rem;
    padding-bottom: 3.5rem;
  }
}

.hero__textContent {
  padding-top: 1.25rem;
  color: var(--clr-white);

  @media (max-width: 720px) {
    padding-top: 0;
  }
}

.hero__title {
  margin-bottom: 2rem;
  font-size: 2.1875rem;
  line-height: 3rem;
  font-weight: 600;
  @media (max-width: 720px) {
    margin-bottom: 0.5rem;
    font-size: 1.4375rem;
    line-height: 1.5rem;
  }
}

.hero__title_marked {
  background-color: var(--clr-green);
  border-radius: 0.5rem;
}

.hero__container {
  gap: 1.5rem;

  @media (max-width: 1170px) {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.hero__img {
  position: relative;
  display: flex;
  flex-shrink: 1;
  flex-basis: 580px;
  align-self: flex-start;

  img {
    width: 100%;
  }
}

.logoLink__content {
  display: flex;
  align-items: center;
}

.logoLink {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  background-color: #ffffff;
  display: inline-flex;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
}

.logoLink__content::after {
  content: url("data:image/svg+xml,%0A%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4058 2.69494C15.9068 1.45152 14.6915 0.108635 12.4154 0.293089C9.516 0.607759 8.61246 3.38161 9.05055 5.03646C7.89583 4.25584 5.93217 3.91256 4.21822 5.37817C2.00531 7.59269 3.18897 10.5875 4.40548 11.3059C3.06474 11.1819 0.945819 12.0863 0.477035 14.4521C-0.0216503 17.3894 2.22139 19.1017 4.40548 19.1017H28.625C31.1506 19.1017 32.552 16.9206 32.3948 14.8635C32.1469 12.1788 29.686 11.1487 28.3436 11.3694C29.4652 10.7448 30.9632 7.81049 28.6855 5.50371C26.8775 3.78702 24.5727 4.41157 23.7623 5.16037C24.1992 3.72625 23.4828 0.761743 20.5503 0.292807C20.3478 0.270166 20.1526 0.258057 19.9666 0.258057C17.728 0.258282 16.7216 1.89179 16.4058 2.69494Z' fill='white'/%3E%3Cpath d='M4.6218 5.84525C3.34306 7.00081 2.87767 9.6191 5.18277 11.1497L14.3786 17.4479L9.9198 7.25031C8.98551 4.8439 6.42951 4.31915 4.6218 5.84525Z' fill='%23F37021'/%3E%3Cpath d='M12.5386 0.887264C11.0438 0.917622 8.79929 2.69463 9.79818 5.40811L14.4096 16.2653L16.0302 4.84562C16.4052 2.00807 14.2541 0.698192 12.5386 0.887264Z' fill='%23CC004C'/%3E%3Cpath d='M16.7487 4.41015H17.6207C17.6207 4.41015 18.0863 4.41015 18.1497 4.62941C17.8066 4.90916 16.8724 4.94419 16.9964 6.43852L18.4624 16.2639L23.0425 5.37809C23.9793 2.94752 22.0129 0.917626 20.2685 0.855559C20.1871 0.849702 20.1053 0.844971 20.0208 0.844971C18.455 0.844914 16.6609 1.98081 16.7487 4.41015Z' fill='%236460AA'/%3E%3Cpath d='M22.859 7.34268L18.5269 17.4179L27.7201 11.0864C29.8393 9.58592 29.4974 7.18695 28.3112 6.0012C27.814 5.44311 26.9009 5.01196 25.9336 5.01196C24.7909 5.01179 23.5679 5.61686 22.859 7.34268Z' fill='%230089D0'/%3E%3Cpath d='M26.6917 12.5201L18.0581 18.5402H28.6884C30.8693 18.5402 32.2709 16.2953 31.6479 14.2353C31.2306 12.9405 29.996 11.9241 28.563 11.9226C27.9598 11.9229 27.3202 12.1042 26.6917 12.5201Z' fill='%230DB14B'/%3E%3Cpath d='M4.37506 18.5401H14.8485L6.21284 12.5201C4.21787 11.2404 1.97449 11.9892 1.16466 14.1126C0.47821 16.5435 2.19216 18.5401 4.37506 18.5401Z' fill='%23FCB711'/%3E%3Cpath d='M15.9714 26.7771H17.9144C18.361 26.8052 19.1527 27.1945 19.1527 28.1164C19.1527 29.0807 18.3311 29.4698 17.8859 29.5137H15.9714V26.7771ZM15.9418 22.4842H17.5411C18.0877 22.5137 18.7341 22.9169 18.7341 23.6656C18.7341 24.4 18.2454 24.8895 17.6131 24.9767H15.9418V22.4842ZM13.7554 20.6978V31.2984H18.9078C20.1307 31.2984 21.5844 30.0748 21.5844 28.4759C21.5844 26.8054 20.4912 25.985 19.7995 25.6535C19.7995 25.6535 21.0661 24.919 21.0098 23.3342C20.9522 21.2025 18.9795 20.6978 18.3032 20.6978H13.7554Z' fill='black'/%3E%3Cpath d='M5.85263 31.2978V25.1922L12.5309 31.7011V20.6972H10.2868V26.6467L3.60693 20.2661V31.2978H5.85263Z' fill='black'/%3E%3Cpath d='M21.9487 25.8831C22.005 29.2354 24.4178 31.7417 27.5196 31.7417C28.2551 31.7417 29.0298 31.6028 29.8217 31.2982V29.1383C29.1941 29.5211 28.4958 29.7056 27.8117 29.7056C25.9346 29.7056 24.1635 28.319 24.2368 25.797C24.3633 23.7512 26.041 22.3385 27.8491 22.3385C28.5112 22.3385 29.1923 22.5289 29.8217 22.9449V20.8429C29.0878 20.5459 28.3583 20.4131 27.6556 20.4131C24.5616 20.413 22.0081 23.0184 21.9487 25.8831Z' fill='black'/%3E%3C/svg%3E%0A");
  margin-left: 0.25rem;
}

.hero__desc {
  font-weight: 500;
  font-size: 1.4375rem;
  line-height: 2rem;

  @media (max-width: 720px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
