.footer {
  padding-top: 1.5rem;
  padding-bottom: 3.75rem;
  background-color: var(--clr-deep-blue);
}

.footer__nav {
  margin-top: 1.5rem;
  flex-basis: 100%;
}

.footer__list {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: center;
  
  @media (max-width: 720px) {
    gap: 1.25rem;
    flex-direction: column;
  }
}

.footer__item {
  white-space: nowrap;
  font-size: 0.75rem;
  color: var(--clr-white);
  @media (max-width: 720px) {
    white-space: normal;
    max-width: 50%;
    line-height: 1rem;
    
  }
}
