.radio {
  display: flex;
  gap: 1rem;

  @media(max-width: 720px) {
    flex-direction: column;
  }
}

.input {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

.label {
  padding: 1.5rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #F5F6FE;
  border-radius: 16px;
  cursor: pointer;
  @media(max-width: 720px) {
    padding: 1rem 1.5rem;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  
  
  svg {
    width: 3.5rem;
    margin-bottom: 1rem;
    @media(max-width: 720px) {
      margin-bottom: 0;
    }
  }
}

.label_checked {
  border-color: var(--clr-orange);
}