.button {
  padding: 1.25rem 1rem;
  flex: 1;
  width: 100%;
  color: var(--clr-white);
  background-color: var(--clr-orange);
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease-in-out;

  &:hover, &:focus, &:active {
    background-color: var(--clr-orange-deep);
  }

  &:focus {
    outline: none;
  }
}